#intro {
  display: block;
  width: 1024px;
  height: 778px;
  padding-top: 10px;
  margin: 0 auto;
  background-image: url("http://s4.postimg.org/asv7d906l/cuatros_locos.jpg");
  background-repeat: no-repeat;
}

@-webkit-keyframes glowing {
  0% { background-color: #0000FF; -webkit-box-shadow: 0 0 3px #0000FF; }
  50% { background-color: #00FFFF; -webkit-box-shadow: 0 0 10px #00FFFF; }
  100% { background-color: #00FF00; -webkit-box-shadow: 0 0 3px #00FF00; }
}

#pages {
  width: 190px;
  height: 50px;
  border-radius: 150px;
  color: black;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  font-size: 20px;
  animation: glowing 1500ms infinite;
  margin-top: 250px;
  margin-left: 200px;
}

#everything {
  width: 1070px;
  height: 778px;
  display: block;
  padding-top: 10px;
  margin: 0 auto;
  display: none;
  text-align: center;
  padding-bottom: 10px;
}

#p {
  padding-bottom: 25px;
}

#container {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: black 3px solid;
  background-color: yellow;
  padding: 10px;
  width:750px;
  height: 635px;
}

.btns {
  padding: 25px;
  margin: 5px;
}

div.btns {
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:200px;
  border:black 1px solid;
  font-size:20px;
  color:#666;
  line-height:100px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
  background:#ddd;
  transition: all ease .3s;
}


btns.hover{border:4px double #bbb;color:#aaa;text-decoration:none;background:#e6e6e6;
}

.red-cell {
   background: #F00!important; /* Or some other color */
}

.black-cell {
   background: black!important; /* Or some other color */
}

.green-cell {
   background: green!important;
}

.grey-cell {
  background: #ddd!important;
}

#fresh {
  display: block;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;

}

#reset {
  width: 190px;
  height: 50px;
  border-radius: 150px;
  background-color: blue;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  font-size: 20px;
}

#restart {
  width: 190px;
  height: 50px;
  border-radius: 150px;
  background-color: blue;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  font-size: 20px;
}

.fa {
  color: red;
}

#playerone {
  border: black 2px solid;
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 200px;
  background-color: #F00;
  color: white;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  line-height: 100px;

}

#playertwo {
  border: black 2px solid;
  width: 100px;
  height: 100px;
  float: right;
  border-radius: 200px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  line-height: 100px;
}

#row1 {
  text-align: center;
}
#row2 {
  text-align: center;
}
#row3 {
  text-align: center;
}
#row4 {
  text-align: center;
}
#row5 {
  text-align: center;
}
#row6 {
  text-align: center;
}
